### Dados da exportação de vinhos do Brasil dos últimos 15 anos

O Brasil é o terceiro país maior país em termo de quantidade de produção da América do Sul, perdendo para a Argentina e para o Chile.
Essa quantidade de produção impacta na quantidade de exportação?


https://www.embrapa.br/dados-de-pesquisa

In [10]:
import pandas as pd

In [11]:
exportacao = pd.read_csv("dados/EXP_2000_2023_20230906_ANUAL.csv", sep=";")

In [12]:
exportacao.head()

   Year        Country  US$ FOB  Net Weight
0  2023       Paraguay  3752857     2494499
1  2023          Haiti   400780      263386
2  2023        Uruguay   394371      308490
3  2023      Venezuela   163280      105750
4  2023  United States   157439       85667

In [13]:
exportacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        956 non-null    int64
 1   Country     956 non-null    object
 2   US$ FOB     956 non-null    int64
 3   Net Weight  956 non-null    int64
dtypes: int64(3), object(1)
memory usage: 30.0+ KB

In [15]:
exportacao_ultimos_15anos = df.query('Year > 2008')

In [16]:
exportacao_ultimos_15anos

     Year        Country  US$ FOB  Net Weight
0    2023       Paraguay  3752857     2494499
1    2023          Haiti   400780      263386
2    2023        Uruguay   394371      308490
3    2023      Venezuela   163280      105750
4    2023  United States   157439       85667
..    ...            ...      ...         ...
723  2009    El Salvador      100          55
724  2009         Panama       30          24
725  2009       Honduras       30          14
726  2009      Nicaragua       24          24
727  2009      Guatemala       20          20

[728 rows x 4 columns]