### Dados da exportação de vinhos do Brasil dos últimos 15 anos

O Brasil é o terceiro país maior país em termo de quantidade de produção da América do Sul, perdendo para a Argentina e para o Chile.
* Qual fator determinante para que o Brasil ocupe essa posição?



https://www.embrapa.br/dados-de-pesquisa

# Alguns pontos a serem analisados;
## Dados Climáticos:
Existem cinco aspectos climáticos a serem considerados no momento de produzir um vinho: temperatura, luz solar, chuvas, amplitude térmica e altitude.

As regiões vinícolas que recebem uma maior quantidade de luz solar e são mais quentes tendem a produzir vinhos tintos de acidez moderada e maior teor alcoólico. Já as vinícolas de clima frio são aquelas que produzem vinhos brancos ou verdes, mais refrescantes, de acidez elevada e menor teor alcoólico.

As uvas necessitam de luz solar e calor para seu amadurecimento. Quanto mais elevados esses índices, menor é o nível de acidez e maior o nível de açúcar. É por isso que cada região climática produz variedades de vinhos tão diferentes.

Devido ao impacto da amplitude térmica, as regiões vinícolas de clima quente se localizam em terrenos de maior altitude, garantindo que as noites sejam frias e que haja equilíbrio perfeito na temperatura ao longo do dia.

Fonte: https://www.wine.com.br/winepedia/curiosidades/mudancas-de-clima-impactam-na-producao-de-vinho/

Temos como objetivo final do estudo, empreender uma comparação da
produção de vinho no Brasil em relação aos demais países para, dessa forma, contribuir
para melhorias no setor e o estabelecimento de uma cultura de consumo de vinhos finos
no Brasil.

### Observações Importantes:
* Não há uniformidade de produção de um determinado tipo de uva na América do Sul. Cada país desenvolveu de acordo com seu terroir um cultivo próprio, como se verificará a seguir. 
    * No Chile, apesar de não ser a mais plantada, a Carménère se tornou a uva ícone do país. Dizimada pela Phylloxera (praga que atacava a produção de uvas) na Europa, foi redescoberta por acaso no Chile em meio às videiras de Merlot. Produz um vinho com bastante cor e taninos pronunciados. (COPELLO, 2013). 
        - O Chile possui como principais uvas a Cabernet Sauvignon, Chardonnay (branca), Merlot e claro, Carménère. Com um território de aproximadamente 4300 km de comprimento, possui um clima mediterrâneo favorável ao cultivo das uvas, além da grande amplitude térmica ao longo do dia, o que contribui para a riqueza de sabores e aromas de seus vinhos.
        - Àrea Plantada: 205.000 hectares (2,7% da área plantada mundial)
        - Produção Anual: 12.554.000 hl (5% da produção mundial)
        - Consumo per capita: 12 litros (ref: 2012)
    
    
    
    * Na Argentina, a casta escolhida como ícone foi a Malbec, também originária da França. A Malbec argentina dá origem a um vinho de cor profunda e brilhante com taninos macios e ótimo teor alcoólico. (JOHNSON; ROBINSON, 2008).
        - Área Plantada: 221.000 hectares (2,9% da área plantada mundial)
        - Produção Anual: 
        - Consumo per capita: 24,4 litros

    
    * O Brasil ainda não possui sua uva emblemática, porém todos os esforços se concentram para tornar a Merlot a uva ícone do país. Menos estruturada que a Cabernet Sauvignon, a Merlot produz vinhos macios e não necessita de tanto tempo em garrafa (JOHNSON; ROBINSON, 2008). É originária da região de Bordeaux, na França. 
        - O Brasil possui diversas regiões produtoras de vinho sendo seis as principais produtoras de vinho fino (produzidos a partir da vitis vinifera), a maior parte está localizada na região sul do país. 
        - O Brasil possui como as principais uvas o Merlot e Cabernet Sauvignon como principais e Cabernet Franc e Tannat como auxiliares. 
        - Area Plantada: 81.600 hectares (1% da área plantada mundial)
        - Produção Anual: 3.364.000 hectolitros (cerca de 1,1% da produção mundial).
        - Consumo per capita: 1,4 litros (2013)

Podemos inferir que cada região possui uma casta, ou seja, uma espécie de uva que, por melhor adaptação ao clima e solo do local e por originar vinhos de qualidade, se tornou ícone daquele lugar ou que sendo desenvolvida com a intenção de torna-la um ícone, como é o caso da Merlot no Brasil. 

"Terroir" compreend características específicas referentes à geografia, à geologia e ao clima de um lugar.

Fonte: 
* https://www.ucs.br/site/midia/arquivos/a_producao_de_vinhos.pdf

In [4]:
import pandas as pd

In [27]:
pais = ['Chile', 'Argentina', 'Brasil']
area_plantada = [205000, 221000, 81600]
producao_anual = [12554000, 0 , 3364000]
consumo_percapta = [12, 24.4, 1.4]
ano = [2013, 2013, 2013]

dados = pd.DataFrame({'pais':pais, 'area_plantada':area_plantada, 
                      'producao_anual':producao_anual, 'consumo_percapta':consumo_percapta, 'ano':ano })

In [28]:
dados

        pais  area_plantada  producao_anual  consumo_percapta   ano
0      Chile         205000        12554000              12.0  2013
1  Argentina         221000               0              24.4  2013
2     Brasil          81600         3364000               1.4  2013

In [11]:
exportacao = pd.read_csv("dados/EXP_2000_2023_20230906_ANUAL.csv", sep=";")

In [12]:
exportacao.head()

   Year        Country  US$ FOB  Net Weight
0  2023       Paraguay  3752857     2494499
1  2023          Haiti   400780      263386
2  2023        Uruguay   394371      308490
3  2023      Venezuela   163280      105750
4  2023  United States   157439       85667

In [13]:
exportacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        956 non-null    int64
 1   Country     956 non-null    object
 2   US$ FOB     956 non-null    int64
 3   Net Weight  956 non-null    int64
dtypes: int64(3), object(1)
memory usage: 30.0+ KB

In [15]:
exportacao_ultimos_15anos = df.query('Year > 2008')

In [16]:
exportacao_ultimos_15anos

     Year        Country  US$ FOB  Net Weight
0    2023       Paraguay  3752857     2494499
1    2023          Haiti   400780      263386
2    2023        Uruguay   394371      308490
3    2023      Venezuela   163280      105750
4    2023  United States   157439       85667
..    ...            ...      ...         ...
723  2009    El Salvador      100          55
724  2009         Panama       30          24
725  2009       Honduras       30          14
726  2009      Nicaragua       24          24
727  2009      Guatemala       20          20

[728 rows x 4 columns]